<launch>
    <rosparam command="load" file="$(find fximu_firmware)/config/fximu_params_000.yaml" />
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_fximu" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="230400"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="map_to_base_imu_link" args="0 0 0 0 0 0 /map /base_imu_link 100"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fximu_firmware)/launch/rviz/fximu.rviz"/>
</launch>
